aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
discord.py==1.7.3
distlib==0.3.4
filelock==3.7.0
idna==3.3
multidict==6.0.2
typing_extensions==4.2.0
virtualenv==20.14.1
yarl==1.7.2
discord==0.0.309